<footer class="footer">
    <div>
        <a href="https://www.facebook.com">
            <img class="footer-icon" src="../images/facebook.svg" alt="">
        </a>
        <a href="https://www.twitter.com">
            <img class="footer-icon" src="../images/twitter.svg" alt="">
        </a>
        <a href="https://www.youtube.com">
            <img class="footer-icon" src="../images/youtube.svg" alt="">
        </a>
        <a href="https://www.linkedin.com">
            <img class="footer-icon" src="../images/linkedin.svg" alt="">
        </a>
    </div>
    <div class="authors">
        <h4>Time Balance, CMPS246 Project.</h4>
    </div>
</footer>